.settingsModal{
    position: absolute;
    top: 0px;
    width: 200px;
    height: 200px;
    background-color: #222831;
    z-index: 10;
}

.modalBody{
    background-color: #222831;
}

.accountSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.userPicWrapper{
    margin-right: 50px;
    .userPic{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: gray;
    }
}
