//@import "../../../styles/globalStyles.scss";

@mixin transparentParagraph {
    font-size: 30px;
    font-weight: 500;
    color: rgba($color: #ffffff, $alpha: 0.1);
}

@mixin alignItems($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
    align-items: center;
    justify-content: center;
}

@mixin fullWidthAndHeight {
    width: 100%;
    height: 100%;
}

$color: white;

.initialScreen{
    background-color: #393e46;
   @include fullWidthAndHeight();
   @include alignItems(column);
    p{
      @include transparentParagraph();
    }
}

.chatMenu{
    background-color: #393e46;
    width: 100%;
    padding-top: 0px;
    border: solid 1px transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    @include fullWidthAndHeight();
    overflow: scroll;
}

.firstChat{
    background-color: #393e46;
    @include alignItems(column);
    @include fullWidthAndHeight();

    p{
        @include transparentParagraph();
    }
}

.inputWrapper{
    @include alignItems(row);
    border-top: solid 1px rgb(99,99,99);
}

.input{
    outline: none;
    background-color: $color;
    @include alignItems(row);
    height: 40px;
    background-color: #393e46;
    border-radius: 0px;
    border: 0;
    color: white;

    button{
        width: 100px;
    }

    &:focus{
        outline: none;
        background-color: #393e46;
        color: white;
    }

    input{
        width: 400px;
    }
}

.chatField{
    display: flex;
    flex-direction: column;
    height: 100%;
}